/* Reset margin & padding bawaan */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: black;
  width: 100%;
  overflow-x: hidden; /* cegah geser ke samping */
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Space";
  src: url("./src/assets/font/Space.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Astro";
  src: url("./src/assets/font/Astro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("./src/assets/font/Futura.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.bg-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.content-layer {
  position: relative;
  z-index: 1;
}
